<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/connor">Connor</a></li>
        <li><a href="/taylor">Taylor</a></li>
        <li><a href="/angela">Angela</a></li>
        <li><a href="/muggles">Muggles</a></li>
    </ul>
</nav>